<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	
	<modules>
		<module assemblyFile="OpenFileServiceModule.dll" moduleType="OpenFileServiceModule.OpenFileServiceModule, OpenFileServiceModule, Vesrion=1.0.0.0, Culture=neutral, PublicKeyToken=null"
			moduleName="OpenFileServiceModule" startupLoaded="true"/>

		<module assemblyFile="ToolbarModule.dll" moduleType="ToolbarModule.ToolbarModule, ToolbarModule, Vesrion=1.0.0.0, Culture=neutral, PublicKeyToken=null"
				moduleName="ToolbarModule" startupLoaded="true"/>

		<module assemblyFile="ItemsViewModule.dll" moduleType="ItemsViewModule.ItemsViewModule, ItemsViewModule, Vesrion=1.0.0.0, Culture=neutral, PublicKeyToken=null"
				moduleName="ItemsViewModule" startupLoaded="true"/>

		<module assemblyFile="DetailedViewModule.dll" moduleType="DetailedViewModule.DetailedViewModule, DetailedViewModule, Vesrion=1.0.0.0, Culture=neutral, PublicKeyToken=null"
			moduleName="DetailedViewModule" startupLoaded="true"/>

		<module assemblyFile="LogParsingModule.dll" moduleType="LogParsingModule.ParserModule, LogParsingModule, Vesrion=1.0.0.0, Culture=neutral, PublicKeyToken=null"
			moduleName="ParserModule" startupLoaded="true"/>

		<module assemblyFile="LoggerModule.dll" moduleType="LoggerModule.LoggerModuleModule, LoggerModule, Vesrion=1.0.0.0, Culture=neutral, PublicKeyToken=null"
					moduleName="LoggerModule" startupLoaded="true"/>
	</modules>
	<log4net debug="false">
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Log\\ApplicationLog.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
			</layout>
		</appender>
	</log4net>
</configuration>