<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
	</configSections>
	<modules>
		<module assemblyFile="OpenFileServiceModule.dll" moduleType="OpenFileServiceModule.OpenFileServiceModule, OpenFileServiceModule, Vesrion=1.0.0.0, Culture=neutral, PublicKeyToken=null"
			moduleName="OpenFileServiceModule" startupLoaded="true"/>
		
		<module assemblyFile="ToolbarModule.dll" moduleType="ToolbarModule.ToolbarModule, ToolbarModule, Vesrion=1.0.0.0, Culture=neutral, PublicKeyToken=null"
				moduleName="ToolbarModule" startupLoaded="true"/>
		
		<module assemblyFile="ItemsViewModule.dll" moduleType="ItemsViewModule.ItemsViewModule, ItemsViewModule, Vesrion=1.0.0.0, Culture=neutral, PublicKeyToken=null"
				moduleName="ItemsViewModule" startupLoaded="true"/>
		
		<module assemblyFile="DetailedViewModule.dll" moduleType="DetailedViewModule.DetailedViewModule, DetailedViewModule, Vesrion=1.0.0.0, Culture=neutral, PublicKeyToken=null"
			moduleName="DetailedViewModule" startupLoaded="true"/>

		<module assemblyFile="LogParsingModule.dll" moduleType="LogParsingModule.ParserModule, LogParsingModule, Vesrion=1.0.0.0, Culture=neutral, PublicKeyToken=null"
			moduleName="ParserModule" startupLoaded="true"/>
	</modules>
</configuration>